<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zckj.sys.mapper.TypeMapper">

    <select id="getTypeByGrade" resultType="com.zckj.sys.entity.Type">
        select * from type where name='单位等级' and tj>=#{0} order by ordid
    </select>
    <select id="getType" resultType="com.zckj.sys.entity.Type">
        select * from type where orgno=#{orgno} and name=#{name}  order by ordid
    </select>
</mapper>
